@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/myriadpro-bold.ttf");
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
}

input {
    outline: none;
    border: none;
    padding: 5px 10px;
}

button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

html, body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.container {
    width: 954px;
    margin: 0 auto;
    display: table;
}

/*Hero & Header*/

.hero {
    background: url("../img/pattern.png") repeat, url("../img/bg.png") no-repeat;
    background-size: auto, cover;
}

.logo {
    margin: 0 0 -155px -108px;
}

.contact-us, .banner-description {
    float: left;
}

.hero a {
    color: #ffffff;
}

.contact-us {
    font-weight: bold;
    font-size: 12px;
    margin: 24px 13px 0 0;
}

.contact-us li {
    cursor: pointer;
    padding: 9px 14px;
    transform: skew(20deg);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.contact-us li:hover {
    border-left: 1px solid #2875aa;
    border-right: 1px solid #30608b;
    background: linear-gradient(61deg, rgba(20, 67, 111, 0.9023984593837535) 36%, rgba(14, 129, 228, 1) 100%);
}

.contact-us a {
    transform: skew(-20deg);
    display: inline-block;
}

.shopping-cart {
    color: #ffffff;
    font-size: 11px;
    margin-top: 30px;
}

.shopping-cart a:hover {
    color: #1e99d8;
}

.shopping-cart li:first-child {
    background: url("../img/cart.png") no-repeat 0 center;
    padding: 5px 0 0 18px;
}

.search-wrap {
    float: left;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25);
    border: 1px solid #2a394e;
    height: 27px;
    margin: 33px 19px 0 0;
}

.search-wrap input {
    width: 120px;
    float: left;
    border-radius: 3px 0 0 3px;
    background-color: #113054;
    color: #fffefe;
}

.search-wrap button {
    float: left;
    padding-top: 7px;
    width: 30px;
    border-radius: 3px;
    background: linear-gradient(0.0deg, #0359a3 0%, #4eadff 100%);
}

.nav-bottom input::placeholder {
    color: #fffefe;
    font-family: "Myriad Pro";
    font-size: 10px;
}

.languages {
    font-family: Verdana;
    font-size: 11px;
    margin-top: 33px;
}


.languages button {
    color: #ffffff;
    border-left: 1px solid #4c515a;
    height: 22px;
    width: 40px;
}

.languages button:hover {
    background: linear-gradient(61deg, rgba(20, 67, 111, 0.9023984593837535) 36%, rgba(14, 129, 228, 1) 100%);
    background-size: cover;
}

.nav-bottom, .nav-top {
    float: right;
    clear: right;
}

nav, .shopping-cart, .languages, .main-camera {
    float: right;
}

.banner {
    position: relative;
}

.banner-description {
    margin-top: 85px;
}

.banner-description h1 {
    font-family: "Myriad Pro";
    color: #000828;
    font-size: 64px;
}

.banner-description p {
    margin: 8px 0 0 9px;
    color: #ffffff;
    font-size: 15px;
    line-height: 30px;
    max-width: 406px;
}

.banner-description button {
    margin-top: 42px;
    padding: 0;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 35px;
}

.left-arrow {
    left: -105px;
}

.right-arrow {
    right: -120px;
}


/*Tabs-nav*/

.tabs-nav {
    background: url("../img/tabs_bg.png");
    height: 54px;
    background-size: cover;
}

.tabs {
    font-size: 14px;
    font-weight: bold;
    margin-top: 54px;
}

.tabs a {
    color: #666666;
    position: relative;
    background: url("../img/tabs.png") no-repeat;
    width: 325px;
    text-align: center;
    line-height: 43px;
    display: block;
}

.tabs li {
    float:right;
    margin-right: -100px;
}

.tabs .active, .tabs a:hover {
    background: url("../img/active.png") no-repeat;
    color: #6fdbff;
    z-index: 4;
}

/*Card*/

.product {
    background: url("../img/bg_2.png") repeat;
    font-family: Verdana;
    padding: 78px 0 115px 0;
}

.card button {
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.18);
    width: 129px;
    height: 43px;
    color: #ffffff;
    background: #ffffff linear-gradient(0.0deg, #3075d5 0%, #1997ee 100%);
    border: 1px solid #a1d7fd;
    border-radius: 13px;
    font-size: 15px;
    font-weight: 700;
    margin-left: 74px;
}

.card h2 {
    font-size: 24px;
    font-weight: bold;
    color: #103c55;
}


.card-price h2 {
    font-size: 30px;
    float: left;
}

.card h2 span {
    font-size: 16px;
    font-weight: bold;
    color: #6b6d6e;
    margin-left: 13px;
}

.gallery {
    float: left;
    margin-top: 15px;
}

.gallery_items {
    margin-top: 24px;
}

.gallery_items li {
    margin-left: 20px;
    padding: 9px 0;
    background-color: #ffffff;
    box-shadow: 0 0 0 1px #7b7c7d;
    position: relative;
    cursor: pointer;
}

.gallery_items li:first-child {
    margin-left: 12px;
}

.gallery_items li:hover, .gallery_items li.active  {
    box-shadow: 0 0 0 4px #6b6d6e;
}

.gallery_items li:hover:before, .gallery_items li.active:before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid #6b6d6e;
    position: absolute;
    top: -24px;
    left: 30px;
}


.card-description {
    float: right;
}

.card-description p {
    max-width: 475px;
}

.strong {
    font-weight: bold;
    font-size: 14px;
}

.item {
    font-size: 12px;
}

.strong .item {
    font-weight: normal;
}

.top-card-content {
    margin-top: 22px;
}

.middle-card-content {
    margin-top: 20px;
}

.middle-card-content caption {
    text-align: left;
}

.middle-card-content td {
    width: 175px;
}

.middle-card-content tr .item:nth-child(2n) {
    padding-left: 67px;
    width: 310px;
}

.description-text {
    margin-top: 20px;
}

.card-description a {
    font-style: oblique;
    font-size: 12px;
    border-bottom: 1px solid #4f88d9;
    color: #4f88d9;
    display: inline-block;
    margin-top: 25px;
}

/*features*/

.features {
    padding: 0 0 50px 0;
    box-shadow: 0 0 24px #dddddd;
}

.features h2 {
    background: url("../img/shape.png");
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 34px;
    width: 268px;
    height: 40px;
    text-transform: uppercase;
    color: #666666;
    margin: 0 auto;
}

.features-item {
    float: left;
    margin-top: 34px;
}

.features-item:nth-child(2n) {
    margin-left: 52px;
}

.features-item:last-child {
    float: right;
}

.features-item p {
    max-width: 196px;
    float: right;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #727272;
    margin-left: 13px;
}

/*Video*/

.video {
    padding-bottom: 88px;
    margin-top: 68px;
}

.video-item {
    float: left;
    margin-left: 34px;
}

.video-item:first-child {
    margin-left: 0;
}

.video-item p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #666666;
    margin-top: 14px;
}

/*Footer*/

footer {
    padding: 53px 0 30px 0;
    background: url("../img/footer_bg.png") no-repeat;
    background-size: cover;
}

.payment, .copyright {
    float: left;
}

.payment li {
    padding-left: 8px;
}

.payment li:first-child {
    padding-left: 0;
}

.copyright {
    margin-left: 93px;
}

.social {
    float: right;
}

.social li {
    padding-left: 19px;
}

.social li:first-child {
    padding-left: 0;
}

.copyright {
    font-size: 13px;
    font-weight: 400;
    color: #dfdfdf;
}